body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: cadetblue;}
.section div{
    width: 100%;
    border-radius: 10rem;
}
header{
    background-color: cornflowerblue;
    color: crimson;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
nav{
    float: left;
    width: 20%;
    height: 320px;
    padding: 25px;
    background-color:whitesmoke;
    margin: 0%;
}
nav ul{
    list-style-type: none;
    padding: 0%;
}
article{
    float: left;
    padding: 20px;
    width: 50%;
    height: 290px;
    margin: 0%;
}
footer{
    clear: both;
    background-color: darkblue;
    padding: 15px;
    text-align: center;
    color: white;
}
aside{
    float: left;
    width: 50px;
    height:250px;
    background-color: blue;
    color: red;
    text-align: center;
    
}